<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Redirect www.cleanz24.com to https://cleanz24.com
  RewriteCond %{HTTP_HOST} ^www\.cleanz24\.com$ [NC]
  RewriteRule ^(.*)$ https://cleanz24.com/$1 [R=301,L]

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
